.note {
font-family: Quicksand, sans-serif;
color:white;
text-align:justify;
}

.note1:before { content: "All rights of this content is own by JKT48. This is purely just for archive, therefore, please do not sell this for any reasons including putting shortlink, etc."}