.box .title {
background-color: #785f98;
background-image: none;
position: absolute;
top: -15px;
left: 32%;
right: 32%;
font-family: Quicksand, sans-serif;  
font-weight: bold;
font-size: 15px;
text-align: center;
width: auto;
height: auto;
margin: auto;
padding: 7px 13px;
line-height: initial;
border-radius: 30px;
}
.box-wrap {
font-size: 11px;
font-weight: bold;
background: #1f2024;
padding: 10px;
margin: 10px 0;
}
.box {
background-color: #785f98;
color: #fff;
position: relative;
margin: 35px 0 20px;
padding: 20px 13px;
padding-bottom: 5px;
line-height: 1.5em;
border-radius: 7px;
transition: all .3s ease;
width: auto;
text-align: center;
}
.box-list {
background: #E4E4E4;
margin-bottom: 2px;
line-height: 26px;
padding: 0 5px;
}
.box-list strong {
background: #3498db;
border-right: 2px solid #F5F5F5;
width: 65px;
display: block;
float: left;
margin-left: -5px;
margin-right: 5px;
color: #FFF;
padding: 0 5px;
text-align: center;
}
.box-list a {
color: #6d6d6d;
}
.box-list a:hover {
color: #222;
}
@media only screen and (max-width: 360px) {
.box-list strong {width:100%}
.box-title {text-align:center}
}
.btn {
margin: 30px 0px;
}
.dl-btn {
border-radius: 8px;
display: inline-block;
position: relative;
padding: 10px;
background-color: #785f98;
color: white !important;
font-family: Quicksand, sans-serif;  
font-size: 15px;
font-weight: bold;
text-align: center;
text-decoration:none;
margin: 0px 10px 10px;
width: 20%;
}
.dl-btn:hover {
background-color:#5e477b;
text-decoration:none;  
}