.notess {
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
background-color: #26282f; 
border-left: 5px solid #9D6EDB; 
border-right: 5px solid #9D6EDB; 
border-radius: 10px; 
padding-left: 10px; 
t-align: center
}
.notess-2{
display:block;
width:auto;
color:white;
margin:0;
text-align: justify;
font-family: 'Quicksand',sans-serif;
line-height: 1.5em;
}
.notess-2:before{content:"RAW for softsub (Alt 1) is taken from ";
}
.notess-2:after {
content:". Meanwhile the RAW for softsub (Alt 2) is cut by me. Therefore, the softsub (Alt 2) can't be used for other RAW except the one that is provided.";
}