.note {
font-family: Quicksand, sans-serif;
color:white;
text-align:justify;
}

.note:before { content: "You can keep or share this work but do not sell this work for any purpose (such as putting shortlink, etc). Also please watch it on the official site if there's any and possible for you. Don't forget to support Gracia and JKT48 by watching on the official YouTube or buying their merchandise."}