.notes {
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
background-color: #26282f; 
border-left: 5px solid #9D6EDB; 
border-right: 5px solid #9D6EDB; 
border-radius: 10px; 
padding: 10px; 
t-align: center
}
.notes{
display:block;
width:auto;
color:white;
margin:0;
text-align: justify;
font-family: 'Quicksand',sans-serif;
line-height: 1.5em;
}
.notesa:before{content:"There are 4 versions of softsub:";
}
.notesb:after {
content:" Softsub V1 has JPN + ENG + IDN + Kara effect.";
}
.notesc:after {
content:"Softsub V2 has ENG + IDN + Kara effect.";
}
.notesd:after {
content:"Softsub V3 has JPN + ENG + IDN with no Kara effect.";
}
.notese:after {
content:"Softsub V4 has ENG + IDN with no Kara effect.";
}