.warning {
font-family: Quicksand, sans-serif;
color:white;
text-align:justify;
}

.warning1:before { content: "Purpleheart's subtitles releases are forever beta. There might be errors in translations, grammar, timing, etc. If you found error(s), please do let me know (on Twitter, Facebook, wherever you like) the link to the post. If possible, also provide the time stamp(s) of the line(s), and how to improve that line(s). There might be improved versions of this English subtitles in the future."}